div.static-bar-0 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 0%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-1 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 1%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-2 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 2%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-3 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 3%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-4 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 4%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-5 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 5%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-6 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 6%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-7 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 7%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-8 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 8%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-9 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 9%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-10 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 10%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-11 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 11%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-12 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 12%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-13 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 13%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-14 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 14%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-15 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 15%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-16 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 16%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-17 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 17%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-18 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 18%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-19 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 19%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-20 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 20%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-21 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 21%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-22 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 22%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-23 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 23%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-24 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 24%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-25 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 25%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-26 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 26%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-27 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 27%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-28 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 28%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-29 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 29%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-30 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 30%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-31 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 31%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-32 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 32%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-33 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 33%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-34 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 34%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-35 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 35%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-36 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 36%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-37 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 37%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-38 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 38%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-39 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 39%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-40 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 40%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-41 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 41%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-42 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 42%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-43 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 43%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-44 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 44%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-45 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 45%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-46 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 46%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-47 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 47%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-48 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 48%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-49 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 49%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-50 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 50%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-51 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 51%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-52 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 52%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-53 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 53%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-54 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 54%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-55 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 55%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-56 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 56%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-57 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 57%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-58 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 58%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-59 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 59%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-60 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 60%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-61 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 61%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-62 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 62%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-63 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 63%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-64 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 64%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-65 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 65%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-66 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 66%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-67 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 67%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-68 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 68%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-69 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 69%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-70 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 70%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-71 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 71%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-72 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 72%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-73 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 73%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-74 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 74%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-75 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 75%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-76 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 76%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-77 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 77%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-78 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 78%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-79 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 79%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-80 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 80%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-81 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 81%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-82 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 82%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-83 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 83%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-84 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 84%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-85 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 85%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-86 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 86%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-87 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 87%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-88 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 88%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-89 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 89%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-90 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 90%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-91 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 91%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-92 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 92%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-93 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 93%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-94 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 94%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-95 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 95%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-96 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 96%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-97 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 97%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-98 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 98%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-99 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 99%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}

div.static-bar-100 {
	background: linear-gradient(90deg, rgba(209, 229, 255, 0.5) 100%, #030010 0%);
	color: #fff;
	width: 150px;
	height: 5px;
	margin-top: 5px;
	margin-bottom: 10px;
	padding-right: 1em;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-o-user-select: none;
	user-select: none;
}