html {
  scroll-behavior: smooth;
}

body
{
  background-color:#0d101c;
  font-family: 'Open Sans', sans-serif;
  color: white;
  font-size:14px;
  padding:0px;
  margin: 0px;
}

.image-header 
{
  background-image: url(fond-etoile.png);
    width: 1260px;
    height: 779px;
  color:white;
  margin:auto;
}

.image-header img
{
  margin-top: 35px;
}

.encours
{
  width: 1000px;
  margin:auto;
  color:white;
  padding-top: 50px;
}

.titre
{
  font-size: 30px;
  font-weight:300;
  margin:auto;
  text-align: center;
  margin-bottom: 50px;
}

.physique
{
  padding-top: 100px;
  width:1200px;
  min-height: 800px;
  background-image:url(sylenn-yeux-noirs.png);
  background-repeat:no-repeat;
  background-position: right;
  margin: auto;
  
}

.text-physique
{
  width: 700px;
  padding-left: 150px;
}

.psycho
{
  padding-top: 100px;
  width:100%;
  margin: auto;
  background-image:url(blood-swirl.png);
  background-repeat: no-repeat;
  background-position: center;
  
}

.text-psycho
{
  width: 620px;
  margin:auto;
  background-color:#0d101c;
  padding: 60px;
}

.histoire
{
  padding-top: 100px;
  width:100%;
  margin: auto;
  
}

.text-histoire
{
  width: 500px;
  margin:auto;
  background-color:#0d101c;
}

.resume
{
  padding-top: 100px;
  width:100%;
  margin: auto;
  
}

.text-resume
{
  width: 1000px;
  margin:auto;
  background-color:#0d101c;

}

.comp
{
  padding-top: 100px;
  width:100%;
  margin: auto;
  
}

.relations
{
  padding-top: 100px;
  width:1000px;
  margin: auto;
  
}

.text-relations
{
  width: 800px;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 15px;
  min-height: 100px;
}

.nom 
{
  font-weight: 700;
}

.image-relations 
{
 float:left; 
  margin-right: 15px;
  display:flex;
}

.soustitre
{
  font-weight: 700;
  text-align: center;
  margin-bottom: 50px;
}

.text-relations-pnj
{
  width: 800px;
  margin:auto;
  margin-bottom: 20px;
  margin-top: 15px;
}

table
{
  margin:auto;
  width: 1000px;
  margin-bottom: 100px;
  
}

tr
{
  padding:5px;
  vertical-align: top;
}

.note
{
  font-style:italic;
  opacity: 0.7;
  text-align: center;
  margin-bottom:20px;
}

.note a, .resume a
{
  color:skyblue;
}

.text-resume .soustitre
{
  font-weight: 700;
  text-align: left;
  margin-bottom: 10px;
}

.bloc-resume
{
  width: 550px;
  display: inline-block;
}

table.tableau-resume 
{
  margin:auto;
  width: 1000px;
  margin-left: -20px;
}

.tableau-resume td
{
  padding:10px;
  padding-bottom: 20px;
  vertical-align: top;
}

table img
{
  width: auto;
  height: 30px;
  color: white;
  display: block;
  margin-right: 10px;
  float: left;
}

.encours td
{
  padding-left: 20px;
  padding-right: 20px;
}
